.arrow{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

@import '../variables/variables.scss';
@import '_gradient/arrow_gradient.scss';
@import '_dark-shade-50/arrow_dark-shade-50.scss';