.fonts-used__sample_font-Body{
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    line-height: 24px;
    color: $DarkShade75;
}

.fonts-used__sample_tag-Body{
    font-size: 14px;
    line-height: 24px;
}