.dropdown__counter-button{
    width: 28px;
    height: 28px;
    border: 1px solid $DarkShade50;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    background-color: white;
}


.dropdown__counter-button-icon{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: $DarkShade50;
}

@import '_not-activ/dropdown__counter-button_not-activ.scss';