mixin dropdown__counter-button(icon)
    if(icon==='-') 
        button(class=['dropdown__counter-button','dropdown__counter-button_minus'])
            span.dropdown__counter-button-icon=icon
    else if(icon==='+') 
        button(class=['dropdown__counter-button','dropdown__counter-button_plus'])
            span.dropdown__counter-button-icon=icon
    
        