mixin fonts-used(tag, text, classTag)
  li.fonts-used__sample
    div(class!=classTag class!='fonts-used__sample-tag')
      span= tag
    div(class!=attributes.class class!='fonts-used__sample-text')
      p= text