.fonts-used__sample {
display: flex;
margin-bottom: 50px;
}
.fonts-used__sample:last-child {
    margin-bottom: 0px;
}
.fonts-used__sample-text{
    display: flex;  
    max-width: 336px;
    white-space: pre-wrap;  // TODO  Костыль для переноса строчки в UiKit - body

}
.fonts-used__sample-tag{
    display: block;
    position: relative;
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.25);
}
.fonts-used__sample_tag-Body{
    font-size: 14px;
    line-height: 24px;
}
.fonts-used__sample_tag-H1{
    font-size: 24px;
    line-height: 29px;
}
.fonts-used__sample_tag-H2{
    font-size: 19px;
    line-height: 23px;
}
.fonts-used__sample_tag-H3{
    font-size: 12px;
    line-height: 15px;
}
@import './../../variables/variables.scss';