$height: 44px;
$height-small: 34px;
$width: 99px;
$padding: 15px;
$padding-small-lr: 20px;
$border-width: 2px;
$linear-gradient: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$linear-gradient05: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);

$DarkShade50: rgba(31, 32, 65, 0.5);
$Purple: #bc9cff;

$arrow-fsz: 24px;
$arrow-right: 10px;

.w320 {
    margin: 10px 0 10px 0;
    max-width: 320px;
}
.button {
    margin: 0;
    display: inline-block;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    background: $linear-gradient;
    background-position: center;
    text-align: center;
    vertical-align: middle;
    min-height: $height - $padding * 2;
    min-width: $width;
    line-height: $height - $padding * 2;
    border-radius: 22px;
    border: none;
    color: white;
    text-decoration: none;
    padding: $padding;
    text-transform: uppercase;
    &:hover {
        background: $linear-gradient05;
    }
    
}
@import "./_fill-none/button_file-none.scss";
@import "./_bordered/button_bordered.scss";
@import "./_small/button_small.scss";
@import "./_block/button_block.scss";
@import "./_with-arrow/button_with-arrow.scss";