mixin button(text)
    div.button(class!=attributes.class)
        .button-frame-gradient
            input.button__input(type='button', value=text)
        i.button__arrow.material-icons= 'arrow_forward'