.button__input{
    border: none;
    border-radius: 22px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    height: 100%;
}
.button{
    position: relative;
    height: 100%;
}
.button__arrow{
    position: absolute;
    display: flex;
    //justify-content: flex-end;
    top: 10px;
    right: 10px;
    color: white;
}

.button-frame-gradient{
    height: 100%;
}


@import '_empty/button_empty.scss';
@import '_filled/button_filled.scss';
@import '_no-frame/button_no-frame.scss';
@import '_default/button_default.scss';