mixin textField(textPlaceholder, textTitle, fieldId)
    .text-field
            include ../title/title
            +title(textTitle, fieldId)
            include ../field/field
            +field(textPlaceholder, fieldId)(class!=attributes.class)