.pagination__text{
    margin-top: 7px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
}

.pagination__text-center{
    text-align: center;
}

@import '../../variables/variables.scss';