doctype html
html(lang="ru")
    head
        title= 'Colors and type'
    body.ColorAndType
        .ColorAndTypeCenterLayer
            include ../../../blocks/gray-logo/gray-logo
            include ../../../blocks/colors-used/colors-used.pug
            include ../../../blocks/fonts-used/fonts-used.pug