mixin range-slider__slider()
  .range-slider__slider
    .range-slider__scale
    .range-slider__point.range-slider__point-start
    .range-slider__point.range-slider__point-stop
    .range-slider__interval