.dropdown_rooms{
  width: 266px;
  border-radius:4px 4px 0px 0px;
}

.dropdown_rooms .dropdown__list{
  width: 243px;
}

.dropdown_rooms .arrow .material-icons{
  color: $DarkShade75;
}

.dropdown_rooms .dropdown__list-buttons{
  display: none;
}


@import '../../variables/variables.scss';