.card-entry{
    width: 378px;
    height: 356px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card-entry-layout{
    width: 320px;
    height: 600px;
    margin-top: 39px;
    margin-left: 29px;
}

.card-entry-title{
    width: 320px;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    line-height: 30px;
}

.card-entry-email{
    margin-top: 15px;
}

.card-entry-password{
    margin-top: 5px;
}

.card-entry-button{
    margin-top: 20px;
    height: 44px;
}

.card-entry-create{
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.card-entry-create-text{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 18px;
}