@import '_none/text-field__title_none.scss';

.text-field__title {
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
}