.card-account-registration{
    width: 378px;
    height: 644px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card-account-registration-layout{
    width: 320px;
    height: 600px;
    margin-top: 39px;
    margin-left: 29px;
}

.card-account-registration-title{
    width: 320px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.card-account-registration-first-name{
    margin-top: 15px;
}

.card-account-registration-last-name{
    margin-top: 5px;
}

.card-account-registration-radio-buttons{
    margin-top: 9px;
}

.card-account-registration-date-birth{
    margin-top: 21px;
}

.card-account-registration-email{
    margin-top: 20px;
}

.card-account-registration-password{
    margin-top: 5px;
}

.card-account-registration-special-offers{
    margin-top: 10px;
}

.card-account-registration-go-to-payment{
    margin-top: 24px;
    height: 44px;
}

.card-account-registration-enter{
    margin-top: 30px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-account-registration-enter-text{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
}