include ../__counter/dropdown__counter

mixin dropdown__row(textRow, counterRow)
  .dropdown__row
    .dropdown__row-text-position
      spawn.dropdown__row-text=textRow
    +dropdown__counter(counterRow)


