include __button/checkbox__button
include __lable/checkbox__lable
include __text-rich/checkbox__text-rich

mixin checkbox(listId, nameItem, textRichRow1, textRichRow2)
    if textRichRow1!=null
        .checkbox.checkbox_rich
            .checkbox-button-position
                +checkbox__button(listId, nameItem)
            .checkbox-text-position  
                .checkbox-lable-position 
                    +checkbox__lable(listId, nameItem)
                .checkbox-text-rich-position  
                    +checkbox__text-rich(textRichRow1, textRichRow2)
    else
        .checkbox
            .checkbox-button-position
                +checkbox__button(listId, nameItem)
            .checkbox-text-position  
                .checkbox-lable-position 
                    +checkbox__lable(listId, nameItem)
                .checkbox-text-rich-position  
                    +checkbox__text-rich(textRichRow1, textRichRow2)

