.color-used__sampleColorDarkShade100{
    background-color: #1F2041;
}
.color-used__sampleColorDarkShade75{
    background-color: rgba(31, 32, 65, 0.75);
}
.color-used__sampleColorDarkShade50{
    background-color: rgba(31, 32, 65, 0.5);
}
.color-used__sampleColorDarkShade25{
    background-color: rgba(31, 32, 65, 0.25);
}
.color-used__sampleColorDarkShade5{
    background-color: rgba(31, 32, 65, 0.05);
}
.color-used__sampleColorPurple{
    background-color: #BC9CFF;
}
.color-used__sampleColorGreen{
    background-color: #6FCF97;
}