@import '../../variables/variables.scss';

.color-used__sampleColorDarkShade100{
    background-color: $DarkShade100;
}
.color-used__sampleColorDarkShade75{
    background-color: $DarkShade75;
}
.color-used__sampleColorDarkShade50{
    background-color: $DarkShade50;
}
.color-used__sampleColorDarkShade25{
    background-color: $DarkShade25;
}
.color-used__sampleColorDarkShade5{
    background-color: $DarkShade5;
}
.color-used__sampleColorPurple{
    background-color: $Purple;
}
.color-used__sampleColorGreen{
    background-color: $Green;
}