.card-search{
    max-width: 320px;
    min-height: 304px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
    @media (max-width: 410px) {
        width: 77%;
        margin-right: 10px;
    }
}

.card-search-title{
    width: 100%;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    line-height: 30px;
}

.card-search-date{
    display: flex;
    margin-top: 21px;
    flex-wrap: wrap;
}

.card-search-date-start{
    margin-right: 20px;
}

.card-search-dropdown-guests{
    margin-top: 20px;
}

.card-search-button{
    margin-top: 31px;
    height: 44px;
}

// .dropdown__datepicker{
//     display: none;
//     position: absolute;
//     top: 190px;
//     z-index: 2;
// }
.dropdown_open .card-search__datepicker{
    display: block;
}
@import '../button/button.scss';