include ../../blocks/header/header

doctype html
html(lang="ru")
  head
    title= 'Landing page'
    meta(name="viewport" content="width=device-width")
    link(type="Image/x-icon" href="assets/img/favicon.ico" rel="icon")
  body   
    .landing-page__img 
      include ../../blocks/slogan/slogan
    +header()
    .landing-page__card-search-container
      .landing-page__card-search
        include ../../blocks/card-search/card-search
    include ../../blocks/footer/footer

