include ../../blocks/header/header

doctype html
html(lang="ru")
    head
        title= 'Landing page'
        meta(name="viewport", content="width=device-width")
    body   
        .landing-page__img-container
            img.landing-page__img(src='assets/img/background-landing-page.jpg') 
            .landing-page__slogan-container 
                include ../../blocks/slogan/slogan
        .landing-page__uiKit
            ul
                li
                    a.ColorType(href='UiKit/ColorsAndType.html') ColorTypePage
                li
                    a.FormElements(href='UiKit/FormElements.html') FormElements
                li
                    a.FormElements(href='UiKit/cards.html') cards
                li
                    a.FormElements(href='UiKit/HeadersFooters.html') HeadersFooters
        .landing-page__header
            +header()
        //- .landing-page__img
        .landing-page__card-search-container
            .landing-page__card-search
                include ../../blocks/card-search/card-search
        include ../../blocks/footer/footer
        