doctype html
html(lang="ru")
    head
        title= 'Landing page'
    body
        h1 H1 Test
        #container.col
            p.cssTest P Test
            p.testBlock P testBlock Test
            a.ColorType(href='UiKit/ColorsAndType.html') ColorTypePage