.footer-top__subscription 
    h3.footer-top__subscription-heading.fonts-used__sample_font-H3= "ПОДПИСКА"
    p.fonts-used__sample_font-Body='Получайте специальные предложения и новости сервиса'
    +subscription('')