.footer-top{
    padding: 100px 140px;
    background: #FFFFFF;
    display: flex;
    height: min-content;
    justify-content: space-between;
}

.footer-top__hotel-opinions{
    width: 260px;
}
.footer-top__subscription{
    padding-top: 5px;
    width: 260px;
}

.footer-top__subscription p{
    padding: 18px 0;
    line-height: 24px;
}

.footer-top__lists{
    display: flex;  
    padding-top: 5px;
    padding-left: 40px;
}

.footer-top__lists > *{
    width: 200px;
}

.footer-top__lists ul{
    list-style: none;  
}

.footer-top__lists ul li{
    height: 38px;
    display: flex;
    align-items: flex-end;
}

.footer-top__lists a{
    color: $DarkShade75;
    text-decoration: none;
    vertical-align: bottom;
}

.footer-top__hotel-opinions-text{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    line-height: 24px;
    margin-top: 18px;
    color: $DarkShade75;
}

.footer__bottom{
    background-color: white;
    width: auto;
    height: 70px;
    border-top: $DarkShade10 1px solid;
    padding: 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-social-networks{
    display: flex;
    padding: 5px 1px 0px 0px;

}

.footer__bottom-social-networks a{
    margin-left: 21px;
}



@import "../variables/variables.scss";