.dropdown_guests{
    width: 320px;
}

.dropdown_guests .dropdown__list{
    width: 297px;
}

.dropdown_guests .arrow .material-icons{
    color: $DarkShade75;
}

@import '../../variables/variables.scss';