.toggle__switch-input{
  display: none;
}

.toggle__switch{
  position: relative;
}

.toggle__switch-field{
  position: absolute;
  width: 40px;
  height: 20px;
  border: 1px solid $DarkShade25;
  border-radius: 10px;
}

.toggle__switch-point{
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: $DarkShade25;
  transition: transform .2s ease-in-out;
  left: 5px;
  top: 4px;
}

@import './../../variables/variables.scss';
@import '_on/toggle__switch_on.scss';