.dropdown__counter-button_not-activ.dropdown__counter-button{
  color: $DarkShade10;
  border-color: $DarkShade10;
}

.dropdown__counter-button_not-activ .dropdown__counter-button-icon{
  color: $DarkShade10;
}