mixin dropdown(textFirstElement, textTitle)
    .dropdownTitle
        include ../title/title
        +title(textTitle, "")
        ul.dropdown(class!=attributes.class)
            li= textFirstElement
            include __arrow/dropdown__arrow