mixin dropdown(textToggle, textTitle, colorArrow)
    .dropdown(class!=attributes.class)
        .dropdownTitle
            include ../title/title
            include __list/dropdown__list
            include __toggle/dropdown__toggle

            +title(textTitle, "")
        .dropdown__toggle
            +dropdown__toggle(textToggle)
        +dropdown__list()
            