mixin dropdown(textToggle, textTitle, classModifier, textRow1, textRow2, textRow3, counterRow1, counterRow2, counterRow3)
    .dropdown(class!=classModifier)
        .dropdownTitle
            include ../title/title
            include __list/dropdown__list
            include __toggle/dropdown__toggle

            +title(textTitle, "")
        .dropdown__toggle
            +dropdown__toggle(textToggle)
        +dropdown__list(textRow1, textRow2, textRow3, counterRow1, counterRow2, counterRow3)
            