.dropdown {
    display: flex; 
    flex-direction: column;
    position: relative;
    width: 320px;
}
.dropdown div{  
    display: flex;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
}

@import '../title/title.scss';
@import '../variables/variables.scss';
@import '_date/dropdown_date.scss';
@import '_filter-date/dropdown_filter-date.scss';
@import '_rooms/dropdown_rooms.scss';
@import '__toggle/dropdown__toggle.scss';
@import '__list/dropdown__list.scss';
@import '__row/dropdown__row.scss';
@import '__counter-button/dropdown__counter-botton.scss';
@import '__counter-value/dropdown__counter-value.scss';
@import '_open/dropdown_open.scss';
@import '_guests/dropdown_guests.scss';
@import '__button-enter/dropdown__button-enter.scss';
@import '__button-clean/dropdown__button-clean.scss';
