mixin dropdown(textToggle, textTitle, colorArrow)
    .dropdown(class!=attributes.class)
        .dropdownTitle
            include ../title/title
            include ../arrow/arrow
            include __toggle/dropdown__toggle



            +title(textTitle, "")
        .dropdown__toggle
            +dropdown__toggle(textToggle)