.button_filled .button__input{
    width: auto;
    padding:0px 20px;
    height: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
}
.button_filled .button__input-hover,  // TODO костыль для UiKit
.button_filled .button__input:hover{
    opacity: 0.5;
}

.button_filled .button__arrow{
    display: none;
}