.button_filled .button-input{
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
}
.button_filled .button-input-hover,  // TODO костыль для UiKit
.button_filled .button-input:hover{
    opacity: 0.5;
}

.button_filled .button__arrow{
    display: none;
}