doctype html
html(lang="ru")
    head
        title= 'Form Elements'
    body.FormElements
        .FormElementsCenterLayer
            include ../../../blocks/gray-logo/gray-logo
            include ../../../blocks/text-field/text-field
            +textField('Email', 'Text Field', 'UiKitTextFieldDefault')
            span.signatureTextFieldDefault DEFAULT