doctype html
html(lang="ru")
    head
        title= 'Form Elements'
    body.FormElements
        .FormElementsCenterLayer
            include ../../../blocks/gray-logo/gray-logo
            include ../../../blocks/text-field/text-field
            span.signatureTextFieldDefault DEFAULT
            span.signatureTextFieldHoverFocus HOVER / FOCUS

            .FormElementLayout
                +textField('Email', 'Text Field', 'UiKitTextFieldDefault')
                +textField('This is pretty awesome', 'Text Field', 'UiKitTextFieldHoverFocus')(class='text-field_hover-focus')
                