doctype html
html(lang="ru")
    head
        title= 'Form Elements'
    body.FormElements
        .FormElementsCenterLayer
            include ../../../blocks/gray-logo/gray-logo
            include ../../../blocks/text-field/text-field
            include ../../../blocks/dropdown/dropdown
            span.signature.signatureTextFieldDefault DEFAULT
            span.signature.signatureTextFieldHoverFocus HOVER / FOCUS
            span.signature.signatureDropdownDefault DEFAULT

            .FormElementLayout
                +textField('Email', 'Text Field', 'UiKitTextFieldDefault')
                +textField('This is pretty awesome', 'Text Field', 'UiKitTextFieldHoverFocus')(class='text-field_hover-focus')
                +dropdown('Сколько гостей')
                