doctype html
html(lang="ru")
    head
        title= 'Form Elements'
    body.FormElements
        .FormElementsCenterLayer
            include ../../../blocks/title/title
            include ../../../blocks/gray-logo/gray-logo
            include ../../../blocks/text-field/text-field
            include ../../../blocks/dropdown/dropdown
            include ../../../blocks/subscription/subscription
            include ../../../blocks/expandable-checkbox-list/expandable-checkbox-list
            include ../../../blocks/icon-text/icon-text
            include ../../../blocks/checkbox-buttons/checkbox-buttons
            include ../../../blocks/radio-buttons/radio-buttons
            include ../../../blocks/toggle/toggle
            include ../../../blocks/like-button/like-button
            include ../../../blocks/rate-button/rate-button
            include ../../../blocks/comment/comment
            include ../../../blocks/range-slider/range-slider
            
            span.signature.signatureTextFieldDefault DEFAULT
            span.signature.signatureTextFieldHoverFocus HOVER / FOCUS
            span.signature.signatureDropdownDefault DEFAULT
            span.signature.signatureTextFieldMaskedDate DEFAULT
            span.signature.signatureDropdownRoomsDefault DEFAULT
            span.signature.signatureDropdownRoomsExpanded EXPANDED

            .FormElementLayout
                .FormElement-column-1
                    +textField('Email', 'Text Field', 'UiKitTextFieldDefault')
                    +textField('This is pretty awesome', 'Text Field', 'UiKitTextFieldHoverFocus')(class='text-field_hover-focus')
                    +dropdown('Сколько гостей', 'Dropdown')
                    +textField('ДД.ММ.ГГГГ', 'masked text field', 'UiKitTextFieldMaskedDate')(class='text-field_masked-date')
                    .dropdown-date-joint
                        +dropdown('ДД.ММ.ГГГГ', 'date dropdown', 'dropdown_date')
                        +dropdown('19.08.2019', 'date dropdown', 'dropdown_date')
                    +dropdown('19 авг - 23 авг', 'filter date dropdown', 'dropdown_filter-date')
                    +subscription('subscription text field')
                    +dropdown('2 спальни, 2 кровати...', 'dropdown', 'dropdown_rooms')
                    +dropdown('2 спальни, 2 кровати...', 'dropdown', 'dropdown_rooms', 'спальни', 'кровати', 'ванные комнаты','2','2','0')
                    +expandable-checkbox-list('expandable checkbox list', 'expandable-checkbox-list-1', 'Завтрак')
                    +expandable-checkbox-list('expandable checkbox list', 'expandable-checkbox-list-2', 'Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь')
                    .icon-text-list
                        +icon-text('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
                        +icon-text('location_city', 'Удобство', 'Окно в каждой из спален')

                .FormElement-column-2
                    +checkbox-buttons('Checkbox Buttons', 'checkbox-buttons-1', 'Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')
                    +radio-buttons('Radio Buttons', 'RadioButtonsFormElement', 'Мужчина', 'Женщина')

                    +title('Toggle')
                    +toggle('Получать спецпредложения', 'FormElement-column-2-toggle-1')
                    +toggle('Получать спецпредложения', 'FormElement-column-2-toggle-2')

                    +title('like button')
                    .form-element-like-buttons
                        .form-element-like-buttons-dont-like
                            +like-button('2')
                        .form-element-like-buttons-like
                            +like-button('11')
                    
                    +title('rate button')
                    .form-element-rate-button
                        .form-element-rate-button-1
                            +rate-button(4)
                        .form-element-rate-button-2
                            +rate-button(5)

                    +dropdown('Сколько гостей', 'dropdown','dropdown_guests', 'взрослые', 'дети', 'младенцы','0','0','0')

                    +title('Rich Checkbox Buttons')
                    .form-element-rich-checkbox-buttons
                        +checkbox('checkbox-buttons-rich-id', 'Широкий коридор', 'Ширина коридоров в номере', 'не менее 91 см.')
                        +checkbox('checkbox-buttons-rich-id', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист','и проводит до номера.')
                    
                    +comment('Мурад Сарафанов', '5 дней назад', '11', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                
                .FormElement-column-3
                    +range-slider('Range Slider')