include __sample\fonts-used__sample

ul.fonts-used
   +fonts-used('H1', 'This one is the sub-section or widget title', 'fonts-used__sample_tag-H1')(class="fonts-used__sample_font-H1")
   +fonts-used('H2', 'Next one is the item title inside widgets', 'fonts-used__sample_tag-H2')(class="fonts-used__sample_font-H2")
   +fonts-used('H3', 'This is a label or CTA text', 'fonts-used__sample_tag-H3')(class="fonts-used__sample_font-H3")
   +fonts-used('Body', 'This is the body text which is used for most       of the design, like paragraphs, lists, etc.', 'fonts-used__sample_tag-Body')(class="fonts-used__sample_font-Body")