doctype html
html(lang="ru")
    head
        title= 'Headers & Footers'
    body.HeadersFooters
        .HeadersFootersCenterLayer
            include ../../../blocks/gray-logo/gray-logo

            include ../../../blocks/header/header

            .HeadersFooters-grid
                +header()
                +header('header_logined', 'Юлий', 'Цезарь')
                include ../../../blocks/footer/footer
                .footer-creative-box
                    include ../../../blocks/footer-creative/footer-creative
            
                


