include ../color-used/color-used
.colors-used
    +color-used('Dark Shade 100%', '#1F2041')(class="color-used__sampleColorDarkShade100")
    +color-used('Dark Shade 75%', '#1F2041')(class="color-used__sampleColorDarkShade75")
    +color-used('Dark Shade 50%', '#1F2041')(class="color-used__sampleColorDarkShade50")
    +color-used('Dark Shade 25%', '#1F2041')(class="color-used__sampleColorDarkShade25")
    +color-used('Dark Shade 5%', '#1F2041')(class="color-used__sampleColorDarkShade5")
    +color-used('Purple', '#BC9CFF')(class="color-used__sampleColorPurple")
    +color-used('Green', '#6FCF97')(class="color-used__sampleColorGreen")