include ../like-button/like-button

mixin comment(name, date, likeButtonCounter, text)
    .comment    
        .comment__foto
        p.comment__name=name
        p.comment__date=date
        +like-button(likeButtonCounter)
        p.comment__text=text

