include ../like-button/like-button

mixin comment(params)
  article.comment    
    .comment__foto(style='background-image: url(../assets/img/avatars/user-'+params.userNumber+'.png);')
    p.comment__name=params.name
    p.comment__date=params.date
    +like-button(params.likeCounter)
    p.comment__text=params.text

