-
  let rooms = [{numberRoom: 888, price: 9990, rating: 5, quantityReviews: 145, lux: true}, 
                {numberRoom: 840, price: 9900, rating: 4, quantityReviews: 65, lux: false},
                {numberRoom: 980, price: 8500, rating: 3, quantityReviews: 35, lux: true},
                {numberRoom: 856, price: 7300, rating: 5, quantityReviews: 19, lux: false},
                {numberRoom: 740, price: 6000, rating: 4, quantityReviews: 44, lux: false},
                {numberRoom: 982, price: 5800, rating: 3, quantityReviews: 56, lux: false},
                {numberRoom: 678, price: 5300, rating: 4, quantityReviews: 39, lux: false},
                {numberRoom: 450, price: 5300, rating: 4, quantityReviews: 39, lux: false},
                {numberRoom: 350, price: 5000, rating: 3, quantityReviews: 77, lux: false},
                {numberRoom: 666, price: 5000, rating: 5, quantityReviews: 25, lux: false},
                {numberRoom: 444, price: 5000, rating: 3, quantityReviews: 15, lux: false},
                {numberRoom: 352, price: 5000, rating: 3, quantityReviews: 55, lux: false},];

include ../../room-card/room-card.pug
.found-rooms__room-cards
  each room in rooms
    +room-card(room.numberRoom, room.price, room.quantityReviews, room.rating, room.lux)
      