.search-room-container{
    display: flex;
    margin: 100px 140px;
}

.search-room-found-rooms{
    margin-left: 60px;
}
@import "./../../blocks/filter/filter.scss";
@import "./../../blocks/found-rooms/found-rooms.scss";