.footer-top__hotel-opinions{
    width: 260px;
    @media (max-width: 999px) {
        order: 1;
    }
}

.footer-top__hotel-opinions-text{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    line-height: 24px;
    margin-top: 18px;
    color: $DarkShade75;
}