.button_empty .button-frame-gradient{
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.button_empty .button-input{
    margin-left: 2px;
    margin-top: 2px;
    width: 95px;
    height: 40px;
    background: white;
    color: $Purple;
}

.button_empty .button-frame-gradient-hover,  // TODO костыль для UiKit
.button_empty .button-frame-gradient:hover{
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button_empty .button__arrow{
    display: none;
}

@import '../../variables/variables.scss';