.pie-chart__help
  .pie-chart__help-text.font_body.pie-chart__help-excellent Великолепно
  .pie-chart__help-text.font_body.pie-chart__help-good Хорошо
  .pie-chart__help-text.font_body.pie-chart__help-norm Удовлетворительно
  .pie-chart__help-text.font_body.pie-chart__help-bad Разочарован
