include ../../blocks/header/header

doctype html
html(lang="ru")
    head
        title= 'Room details'
        meta(name="viewport", content="width=device-width")
    body   
        .room-details
            +header()