include __item/menu__item
.menu
  .menu_burger
    span
  .menu-list
    +menu-item('О нас')
    +menu-item('Услуги')(class!='menu__item_list')
    +menu-item('Вакансии')
    +menu-item('Новости')
    +menu-item('Соглашения')(class!='menu__item_list')
