.button_default .button-input{
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
}

.button_default .button-input:hover{
    opacity: 0.5;
}