html(lang="ru")
    head
        title= 'cards'
    body.cards
        .cardsCenterLayer
            include ../../../blocks/gray-logo/gray-logo
            .cardsLayout
                .cards-column-1
                    include ../../../blocks/card-search/card-search
                .cards-column-2
                .cards-column-3
