html(lang="ru")
    head
        title= 'cards'
    body.cards
        .cards-center-layer
            include ../../../blocks/gray-logo/gray-logo
            .cards-layout
                .cards-column-1
                    include ../../../blocks/card-search/card-search
                    include ../../../blocks/card-account-registration/card-account-registration
                .cards-column-2
                    include ../../../blocks/card-reservation-room/card-reservation-room
                    include ../../../blocks/card-entry/card-entry
                .cards-column-3
