.dropdown__button-enter-input{
    color: $Purple;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    border: none;
    background: none;
}

@import '../../variables/variables.scss';