include __icon/icon-text__icon
include __text/icon-text__text

mixin icon-text(materialIcon, title, description)
  .icon-text-border-bottom
    .icon-text
      +icon-text__icon(materialIcon)
      +icon-text__text(title, description)