include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox-buttons/checkbox-buttons
include ../checkbox/checkbox
include ../expandable-checkbox-list/expandable-checkbox-list

mixin filter()
  .filter
    +dropdown("19 авг - 23 авг", "даты пребывания в отеле", "dropdown_date")
    +dropdown("3 гостя, 1 младенец", "гости", "dropdown_guests", "взрослые", "дети", "младенцы", "2", "1", "1")
    +range-slider("диапазон цены")
    +checkbox-buttons("правила дома", 1233567, "Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)")
    +elementsTitle("доступность", "checkbox1")
    +checkbox(3568467, "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
    +checkbox(3568468, "Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")
    +dropdown("2 спальни, 2 кровати", "удобства номера", "dropdown_rooms", "спальни", "кровати", "ванные комнаты", 2, 2, 0)
    +expandable-checkbox-list("дополнительные удобства", "expandable-checkbox-list-filter", "Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь")
