mixin dropdown__list(classModifier)
    include ../__row/dropdown__row
    .dropdown__list
        case classModifier
            when 'dropdown_rooms'
                +dropdown__row('спальни', '2')
                +dropdown__row('кровати', '2')
                +dropdown__row('ванные комнаты', '0')
