.dropdown .dropdown__list{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    background-color: white;
    z-index: 5;
    padding: 6px 7px 0px 14px;
    box-sizing: border-box;
    width: 100%;

    border: 1px solid $DarkShade50;
    border-radius: 0 0 4px 4px;
    border-top: none;
}

.dropdown__list-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 40px;
}

@import '../../variables/variables.scss';