include ../__title/icon-text__title
include ../__description/icon-text__description

mixin icon-text__text(title, description)
  .icon-text__text
    +icon-text__title(title)
    +icon-text__description(description)