.footer-bottom
    .footer-bottom__top-border
    p(class='footer-bottom__copyright font_body') Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-bottom__social-networks
        a(href='https://twitter.com/?lang=ru')
            img(src='../assets/img/twitter.svg' alt='twitter')
        a(href='https://ru-ru.facebook.com/')
            img(src='../assets/img/facebook.svg' alt='facebook')
        a(href='https://www.instagram.com/?hl=ru')
            img(src='../assets/img/instagram.svg' alt='instagram')