.dropdown__toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    padding-left: 15px;
    
}