.dropdown__toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    border: 1px solid $DarkShade50;
    border-radius: 4px;
    padding-left: 15px;
}

@import '_noRadius/dropdown__toggle_noRadius.scss';