.footer-top__lists
    .footer-top__lists-navigation
        h3.footer-top__lists-navigation-heading.fonts-used__sample_font-H3= "НАВИГАЦИЯ"
        ul.footer-top__lists-navigation-list
            li
                a.fonts-used__sample_font-Body(href='//') О нас
            li
                a.fonts-used__sample_font-Body(href='//') Новости
            li
                a.fonts-used__sample_font-Body(href='//') Служба поддержки
            li
                a.fonts-used__sample_font-Body(href='//') Услуги
    .footer-top__lists-about-us
        h3.footer-top__lists-about-us-heading.fonts-used__sample_font-H3= "О НАС"
        ul.footer-top__lists-about-us-list
            li
                a.fonts-used__sample_font-Body(href='//') О сервисе
            li
                a.fonts-used__sample_font-Body(href='//') Наша команда
            li
                a.fonts-used__sample_font-Body(href='//') Вакансии
            li
                a.fonts-used__sample_font-Body(href='//') Инвесторы
    .footer-top__lists-support
        h3.footer-top__lists-support-heading.fonts-used__sample_font-H3= "СЛУЖБА ПОДДЕРЖКИ"
        ul.footer-top__lists-support-list
            li
                a.fonts-used__sample_font-Body(href='//') Соглашения
            li
                a.fonts-used__sample_font-Body(href='//') Сообщества
            li
                a.fonts-used__sample_font-Body(href='//') Связь с нами