.footer-top__lists
    .footer-top__lists-navigation
        h3(class='footer-top__lists-navigation-heading font_h3') НАВИГАЦИЯ
        ul.footer-top__lists-navigation-list
            li
                a(class='font_body')(href='//') О нас
            li
                a(class='font_body')(href='//') Новости
            li
                a(class='font_body')(href='//') Служба поддержки
            li
                a(class='font_body')(href='//') Услуги
    .footer-top__lists-about-us
        h3(class='footer-top__lists-about-us-heading font_h3') О НАС
        ul.footer-top__lists-about-us-list
            li
                a(class='font_body')(href='//') О сервисе
            li
                a(class='font_body')(href='//') Наша команда
            li
                a(class='font_body')(href='//') Вакансии
            li
                a(class='font_body')(href='//') Инвесторы
    .footer-top__lists-support
        h3(class='footer-top__lists-support-heading font_h3') СЛУЖБА ПОДДЕРЖКИ
        ul.footer-top__lists-support-list
            li
                a(class='font_body')(href='//') Соглашения
            li
                a(class='font_body')(href='//') Сообщества
            li
                a(class='font_body')(href='//') Связь с нами