.footer-top__lists{
    display: flex;  
    padding-top: 4px;
    padding-left: 40px;
    margin: 0px 0px 20px 0px;
    @media (max-width: 999px) {
        width: 100%;
        justify-content: space-between;
        padding-left: 0px;
        flex-wrap: wrap;
    }
}

.footer-top__lists > *{
    width: 200px;
    padding-bottom: 20px;
}

.footer-top__lists h3{
    height: 33px;
}

.footer-top__lists ul{
    list-style: none;  
}

.footer-top__lists ul li{
    height: 38px;
}

.footer-top__lists a{
    color: $DarkShade75;
    text-decoration: none;
    vertical-align: bottom;
}